section {
    color: white;

    .title {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 5px;
        margin-bottom: 10px;
    }

    .network-icons {
        a {
            text-decoration: none;
            color: white;
            transition: 0.2s;
            cursor: pointer;

            &:hover {
                color: $color-1;
            }

            svg {
                margin-top: 10px;
                width: 30px;
                height: 30px;
            }
        }
    }

}