.introduction{
    display: flex;
    justify-content: space-evenly;
    color: $color-2;
    border-radius: 15px;
    
    .text-field {
        height: max-content;
        padding:15px;
        margin-bottom: 25px;

        p {
            margin-bottom: 15px;
            margin-left: 15px;
            width: 80%;

            span{
                font-size: larger;
            }
        }
    }

    .photo {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        img{
            width:475px;
            border-radius: 33%;
        }

    }
}