.introduction{
    display: flex;
    
    justify-content: space-evenly;
    
    .text-field {
        height: max-content;
        padding:15px;

        p {
            margin-bottom: 15px;
        }
    }

    .photo {
        
        

        img{
            width:300px;
        }

    }
}