.bk-adapt {
    color: black;
    background-color: white;
    padding: 50px;
    font-size: 1.2em;
    height: fit-content;

    .fade {
        animation: fadeIn 2s;
    }

    .opaque {
        opacity: 1;
    }

    .translucide {
        opacity: 0.1;
    }

    .button-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 30px;
        column-gap: 1%;
        row-gap: 12px;

        button {
            background-color: transparent;
            border: none;
        }

        .display {
            animation: fadeIn 2s;
            position: absolute;
            z-index: 1;
            background: whitesmoke;
            box-shadow: 1px 2px 3px darkgrey;
            margin: 0px;
            padding: 50px;
            width: 60%;
            height: fit-content;
            top: 15%;
        }
    }

}