.poei {
    display: flex;
    justify-content: space-evenly;
    color: $color-2;

    .text-field {
        height: max-content;
        margin-bottom: 25px;

        a {
            color: red;
        }

        p {
            margin-bottom: 10px;
            margin-top: 10px;
            width: 90%;

        }
    }
}