.white {
    background-color: white;
    height: 100%;
}

.project-title {
    width: 80%;
}

.techs-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
}

.repo-card-div {
    width: 90px;
    height: max-content;
    border: 1px solid $color-1;
    border-radius: 8px;
}

.project-card {
    display: flex;
    justify-content: space-between;

    .left {
        min-width: 300px;
    }

    img {
        width: 100%;
        box-shadow: 1px 2px 3px grey;
        margin-left: 20px;
    }
}