.skills {
    
    h2{
        color: $color-2;
        margin-bottom: 30px;
    }

    .skills-list{
        display: grid;
        grid-gap: 1rem;
        grid-template-columns:  repeat(11, 80px); 
        grid-template-rows:  repeat(2, 1fr); 
    }
    
}