.skills {
    h2 {
        color: #002d2e;
        margin-bottom: 30px
    }

    .skills-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, 104px)
    }

    .column {
        align-items: center;
        color: #000
    }
}