.skills {

    h2 {
        color: $color-2;
        margin-bottom: 30px;
    }

    .skills-list {
        //width: 80%;
        display: grid;
        //grid-gap: 1rem;
        grid-template-columns: repeat(auto-fill, 40px);
    }

}