@font-face {
    // name
    font-family: "H2";
    src: url('../assets/fonts/BebasNeue.ttf');

    // h2 titles
    font-family: "barlow-bold";
    src: url(../assets/fonts/Barlow-Bold.ttf);

    // h3 titles
    font-family: "barlow-medium";
    src: url(../assets/fonts/Barlow-Medium.ttf);

    // text
    font-family: "barlow-regular";
    src: url(../assets/fonts/Barlow-Regular.ttf);
}

$font-h1: "barlow-bold",
    sans-serif;
$font-regular: "barlow-regular";

$color-1: #02989d;
$color-2: #002d2e;
$white: rgb(243, 243, 243);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $font-regular;
}

body {
    background: white;
    color: $color-1;
    font-family: $font-regular;
    background-image: url("../assets/images/bourse.png");
    background-repeat: no-repeat;
    object-fit: cover;
}

h1 {
    display: none;
}

a {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.vertical-line {
    display: flex;
    column-gap: 15px;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.align-end {
    justify-content: flex-end;
}

.align-center {
    align-items: center;
    ;
}

.page-split {
    display: flex;
    flex-direction: row;
}


.left-side {
    //background-color: black;
    background-image: url("../assets/images/sidebar_black.png");
    min-height: 100vh;
    width: 20%;
    min-width: 353px;
    padding: 30px;
    text-align: right;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.right-side {
    margin: 60px;
    margin-left: 500px;
    width: 70%;
    display: flex;
    flex-direction: column;

    .home-text {
        color: black;
        font-size: 1.5em;
        width: 60%;
        padding-left: 10%;

        p {
            margin-bottom: 15px;
        }
    }

}